

.postcode-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 80%;
  width: 400px;
  box-sizing: border-box;
  overflow: auto;
}

/* 반응형 스타일링 */
@media screen and (max-width: 480px) {
  .address-component {
    padding: 10px;
    border-radius: 0;
    box-shadow: none;
    max-width: 100%;
  }

  .title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .input-field {
    max-width: 100%;
    font-size: 14px;
  }

  .daum-button,
  .submit-button {
    font-size: 14px;
  }

  .postcode-popup {
    max-width: 100%;
    width: 100%;
  }
}
